<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario de Provincia</title>
    </head>
    <body>
        <div th:fragment="mainContent">
            <h2 th:text="${provincia.idProvincia == 0 ? 'Nueva Provincia' : 'Editar Provincia'}"></h2>

            <form th:action="@{${actionUrl}}" th:object="${provincia}" method="post" needs-validation>

                <div class="mb-3" th:if="${provincia.idProvincia != 0}">
                    <label class="form-label">ID Provincia</label>
                    <input type="text" class="form-control" th:field="*{idProvincia}" required>
                </div>
                

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required>
                </div>
                
                <div class="mb-3" th:if="${provincia.idProvincia != 0}">
                    <label class="form-label">ID Estado</label>
                    <input type="text" class="form-control" th:field="*{idEstado}" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/direccion" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>