<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario Empleado</title>
    </head>
    <body>
        <div th:fragment="mainContent">
            <h2 th:text="${empleado.idEmpleado == 0 ? 'Nuevo Empleado' : 'Editar Empleado'}"></h2>

            <form th:action="@{${actionUrl}}" th:object="${empleado}" method="post" class="needs-validation">

                <div class="mb-3 th:if="${empleado.idEmpleado != 0}">
                    <label class="form-label" ">ID Empleado</label>
                    <input type="number" class="form-control" th:field="*{idEmpleado}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" th:field="*{apellido1}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" th:field="*{apellido2}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input type="text" class="form-control" th:field="*{telefono}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo</label>
                        <input type="text" class="form-control" th:field="*{correo}" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Salario</label>
                    <input type="number" class="form-control" th:field="*{salario}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Cargo</label>
                    <input type="number" class="form-control" th:field="*{idCargo}" required>
                </div>
                <div class="mb-3" th:if="${empleado.idEmpleado != 0}">
                    <label class="form-label">Estado</label>
                    <input type="number" class="form-control" th:field="*{idEstado}" required>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/empleado" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>