

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mesa Form</title>
</head>
<body>
    <div th:fragment="mainContent">
        <h2 th:text="${mesa.idMesa == null ? 'Nueva Mesa' : 'Editar Mesa'}"></h2>
        
        <form th:action="@{${actionUrl}}" th:object="${mesa}" method="post">
            
            <!--
            <div class="mb-3">
              <label class="form-label">IdProveedor</label>
              <input type="text" class="form-control" th:field="*{idProveedor}" required>
          </div>
            -->

            <div class="mb-3">
                <label class="form-label">Capacidad</label>
                <input type="text" class="form-control" th:field="*{capacidad}" required>
            </div>
            
            

           
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/mesa" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>