<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inventario Form</title>
    </head>
    <body>
        <div th:fragment="mainContent">
            <h2 th:text="${inventario.idInventario == null ? 'Nuevo Inventario' : 'Editar Inventario'}"></h2>

            <form th:action="@{${actionUrl}}" th:object="${inventario}" method="post">

                <!--
                <div class="mb-3">
                    <label class="form-label">IdInventario</label>
                    <input type="text" class="form-control" th:field="*{idInventario}" required>
                </div>
                -->

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="text" class="form-control" th:field="*{precioCompra}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    <input type="text" class="form-control" th:field="*{stock}" required>
                </div>

                <!--
                <div class="mb-3">
                    <label class="form-label">FechaCaducidad</label>
                    <input type="text" class="form-control" th:field="*{fechaCaducidad}" required>
                </div>
                -->

                <div class="mb-3">
                    <label class="form-label">Fecha de Caducidad</label>
                    <input type="date" class="form-control" th:field="*{fechaCaducidad}" required>
                </div>


                <div class="mb-3">
                    <label class="form-label">Proveedor</label>
                    <textarea class="form-control" th:field="*{idProveedor}" required></textarea>
                </div>



                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/inventario" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>