

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mesa Form</title>
    </head>
    <body>
        <div th:fragment="mainContent">
            <h2 th:text="${mesa.idMesa == 0 ? 'Nueva Mesa' : 'Editar Mesa'}"></h2>

            <form th:action="@{${actionUrl}}" th:object="${mesa}" method="post">


                <div class="mb-3" th:if="${mesa.idMesa != 0}">
                    <label class="form-label">ID Mesa</label>
                    <input type="text" class="form-control" th:field="*{idMesa}" required>
                </div>


                <div class="mb-3">
                    <label class="form-label">Capacidad</label>
                    <input type="text" class="form-control" th:field="*{capacidad}" required>
                </div>

                <div class="mb-3" th:if="${mesa.idMesa != 0}">
                    <label class="form-label">ID Estado</label>
                    <input type="text" class="form-control" th:field="*{idEstado}" required>
                </div>





                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="/mesa" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </body>
</html>